/* Coolors Exported Palette - coolors.co/ed254e-003f91-6b7fd7-f4faff-08090a */

/* HSL */
$color1: hsla(348%, 85%, 54%, 1);
$color2: hsla(214%, 100%, 28%, 1);
$color3: hsla(229%, 57%, 63%, 1);
$color4: hsla(207%, 100%, 98%, 1);
$color5: hsla(210%, 11%, 4%, 1);

/* RGB */
$color1: rgba(237, 37, 78, 1);
$color2: rgba(0, 63, 145, 1);
$color3: rgba(107, 127, 215, 1);
$color4: rgba(244, 250, 255, 1);
$color5: rgba(8, 9, 10, 1);